.main-body{
  background-color: #252525;
  max-width: 400px;
  padding: 12px;
  border-radius: 15px;
  height: calc(100vh - 100px);
  overflow-y: scroll;
}
.text-sm{
  font-size: 13px;
}

.background-secondary-custom{
  background-color: rgb(27, 27, 27) !important;
}

input::placeholder{
  color: #aca8a8 !important;
  padding: 12px 0px;
}
.text-medium{
  font-size: 15px;
}